In [1]:
!rm -fr mydata.sqlite

In [2]:
import sqlite3
conn = sqlite3.connect('mydata.sqlite')
c = conn.cursor()

In [3]:
ls

mydata.sqlite  sql.ipynb

In [4]:
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [5]:
conn.commit()

In [6]:
data =  c.execute("SELECT * FROM stocks")
data.fetchall()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [7]:
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [8]:
data =  c.execute("SELECT * FROM stocks")
data.fetchall()
conn.commit()

In [9]:
import sqlalchemy as sqla
import pandas as pd

In [10]:
db = sqla.create_engine('sqlite:///mydata.sqlite')
conn_db = db.connect()
pd.read_sql('select * from stocks', db)

         date trans symbol     qty  price
0  2006-01-05   BUY   RHAT   100.0  35.14
1  2006-03-28   BUY    IBM  1000.0  45.00
2  2006-04-05   BUY   MSFT  1000.0  72.00
3  2006-04-06  SELL    IBM   500.0  53.00

In [11]:
test = conn_db.execute("SELECT * FROM stocks")
test.fetchall()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14),
 ('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0),
 ('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0),
 ('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)]