# pandas.DataFrame.rank
## Return
- Return a Series or DataFrame with data ranks as values.

## Parameters
### axis

- `0`ならば縦方向 （index ranking）
- `1`ならばcolumn方向

### method: tieの処理の仕方

- `average`: average rank of the group
- `min`: lowest rank in the group
- `max`: highest rank in the group
- `first`: ranks assigned in order they appear in the array
- `dense`: like ‘min’, but rank always increases by 1 between groups.

### na_option: NaNの処理の仕方

- `keep`: assign NaN rank to NaN values
- `top`: assign smallest rank to NaN values if ascending
- `bottom`: assign highest rank to NaN values if ascending.

### pct: パーセンタイルを返す

- Boolean

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                    'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})
df

    Animal  Number_legs
0      cat          4.0
1  penguin          2.0
2      dog          4.0
3   spider          8.0
4    snake          NaN

## 1. Methodの挙動を調べる

In [3]:
# methodのdefaultはaverage
df['Number_legs'].rank()

0    2.5
1    1.0
2    2.5
3    4.0
4    NaN
Name: Number_legs, dtype: float64

In [4]:
df['Number_legs'].rank(method = 'min')

0    2.0
1    1.0
2    2.0
3    4.0
4    NaN
Name: Number_legs, dtype: float64

In [5]:
df['Number_legs'].rank(method = 'max')

0    3.0
1    1.0
2    3.0
3    4.0
4    NaN
Name: Number_legs, dtype: float64

In [6]:
df['Number_legs'].rank(method = 'first')

0    2.0
1    1.0
2    3.0
3    4.0
4    NaN
Name: Number_legs, dtype: float64

In [7]:
df['Number_legs'].rank(method = 'dense')

0    2.0
1    1.0
2    2.0
3    3.0
4    NaN
Name: Number_legs, dtype: float64

### pctとmethodの組み合わせ

In [8]:
# 0.5と0.75の平均
df['Number_legs'].rank(pct=True)

0    0.625
1    0.250
2    0.625
3    1.000
4      NaN
Name: Number_legs, dtype: float64

In [9]:
df['Number_legs'].rank(method = 'min', pct=True)

0    0.50
1    0.25
2    0.50
3    1.00
4     NaN
Name: Number_legs, dtype: float64

In [10]:
df['Number_legs'].rank(method = 'max', pct=True)

0    0.75
1    0.25
2    0.75
3    1.00
4     NaN
Name: Number_legs, dtype: float64

In [11]:
df['Number_legs'].rank(method = 'dense', pct=True)

0    0.666667
1    0.333333
2    0.666667
3    1.000000
4         NaN
Name: Number_legs, dtype: float64

## 2. Data rankingとaxis

In [12]:
df = pd.DataFrame(np.random.randn(10, 6))
df

          0         1         2         3         4         5
0 -1.324689 -0.223714  0.545046  0.648655  0.054910  0.036467
1  0.823151 -0.781823  1.638421 -0.448607  0.592852 -0.178620
2  1.113608  1.659820  1.024382 -1.428443 -0.248318 -2.236531
3 -2.408591  1.155205 -1.351781  0.183630 -0.908719  1.198578
4 -0.451494 -0.055383  0.630701  0.484723  0.720476 -1.505376
5  0.015999  0.811968  0.433381 -2.418552 -0.621324  0.277957
6 -0.151548  1.865756  0.334204 -0.872553 -0.549096 -0.065839
7  0.914056  0.034984 -0.206048  0.708018  0.012771  0.364808
8  1.847924 -1.055026  0.447501 -3.694319 -1.185595  1.248141
9  0.857047  0.744264  1.215298 -2.207443  0.766384  0.993357

In [13]:
# making some ties
df[4] = df.loc[:, 2]

In [14]:
df.rank(axis = 0)

      0     1     2     3     4     5
0   2.0   3.0   6.0   9.0   6.0   5.0
1   6.0   2.0  10.0   6.0  10.0   3.0
2   9.0   9.0   8.0   4.0   8.0   1.0
3   1.0   8.0   1.0   7.0   1.0   9.0
4   3.0   4.0   7.0   8.0   7.0   2.0
5   5.0   7.0   4.0   2.0   4.0   6.0
6   4.0  10.0   3.0   5.0   3.0   4.0
7   8.0   5.0   2.0  10.0   2.0   7.0
8  10.0   1.0   5.0   1.0   5.0  10.0
9   7.0   6.0   9.0   3.0   9.0   8.0

In [15]:
df.rank(axis = 1)

     0    1    2    3    4    5
0  1.0  2.0  4.5  6.0  4.5  3.0
1  4.0  1.0  5.5  2.0  5.5  3.0
2  5.0  6.0  3.5  2.0  3.5  1.0
3  1.0  5.0  2.5  4.0  2.5  6.0
4  2.0  3.0  5.5  4.0  5.5  1.0
5  2.0  6.0  4.5  1.0  4.5  3.0
6  2.0  6.0  4.5  1.0  4.5  3.0
7  6.0  3.0  1.5  5.0  1.5  4.0
8  6.0  2.0  3.5  1.0  3.5  5.0
9  3.0  2.0  5.5  1.0  5.5  4.0